/* 适配 */
@media screen and (max-width: 1024px) {
    html {
        font-size: 42.66px !important;
        /* 1024/24=42.66 */
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 80px !important;
        /* 1920/24=80 */
    }
}

/* 背景图片 */
body {
    background: url(../images/bg.jpg) no-repeat;
    /* 跟随页面大小改变 */
    background-size: cover;
    /* 或者写成： */
    /* background: url(../images/bg.jpg) no-repeat 0 0 / cover; */
}

.viewport {
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    min-height: 780px;
    /* 居中对齐 */
    margin: 0 auto;
    padding: 1.1rem 0.25rem 0;
    background: url(../images/logo.png) no-repeat;
    /* 保证图标在缩放时仍能全部显示 */
    background-size: contain;
}

.viewport .column {
    flex: 3;
}

.viewport .column:nth-child(2) {
    flex: 4;
    margin: 0.4rem 0.25rem 0;
}

/* 公共面板 */
.panel {
    /* 子绝父相 */
    position: relative;
    margin-bottom: .25rem;
    /* 边框图片 */
    border: 15px solid transparent;
    /* border-image-width: .6375rem .475rem .25rem 1.65rem; */
    border-width: .6375rem .475rem .25rem 1.65rem;
    border-image-source: url(../images/border.png);
    border-image-slice: 51 38 20 132;
}

.panel .inner {
    /* 子绝父相 */
    position: absolute;
    top: -0.6375rem;
    left: -1.65rem;
    right: -0.475rem;
    bottom: -0.25rem;
    /* 如果上面使用的是border-image-width，此处应为： */
    /* top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px; */
    padding: .3rem .45rem;
}

/* 概览区域 */
.overview {
    height: 1.375rem;
}

.overview ul {
    display: flex;
    justify-content: space-between;
}

.overview ul li h4 {
    font-size: .35rem;
    color: #fff;
    margin: 0 0 .1rem .06rem;
    /* margin-left: .06rem;
    margin-bottom: .1rem; */
}

.overview ul li span {
    font-size: .2rem;
    color: #4c9bfd;
}

/* 监控区域 */
.monitor {
    height: 6rem;
}

.monitor .inner {
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
}

/* 监控区域--tab栏 */
.monitor .tabs {
    padding: 0 0.45rem;
    margin-bottom: 0.225rem;
    display: flex;
}

.monitor .tabs a {
    color: #1950c4;
    font-size: 0.225rem;
    padding: 0 0.3375rem;
}

.monitor .tabs a:first-child {
    padding-left: 0;
    border-right: 0.025rem solid #00f2f1;
}

.monitor .tabs a.active {
    color: #fff;
}

/* 监控区域--内容区域 */
.monitor .content {
    flex: 1;
    /* 子绝父相 */
    position: relative;
    display: none;
}

.monitor .head {
    display: flex;
    justify-content: space-between;
    line-height: 1.05;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.15rem 0.45rem;
    color: #68d8fe;
    font-size: 0.175rem;
}

.monitor .marquee-view {
    /* 子绝父相 */
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.monitor .row {
    display: flex;
    justify-content: space-between;
    line-height: 1.05;
    font-size: 0.15rem;
    color: #61a8ff;
    padding: 0.15rem 0.45rem;
}

.monitor .row .icon-dot {
    position: absolute;
    left: 0.2rem;
    opacity: 0;
}

.monitor .row:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #68d8fe;
}

.monitor .row:hover .icon-dot {
    opacity: 1;
}

.monitor .col:first-child {
    width: 1rem;
}

.monitor .col:nth-child(2) {
    width: 2.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.monitor .col:nth-child(3) {
    width: 1rem;
}

/* 监控区域--滚动动画 */
@keyframes move {
    0% {}

    100% {
        transform: translateY(-50%);
        /* 注意是负数 */
    }
}

.monitor .marquee-view .marquee {
    animation: move 15s linear infinite;
    /* 持续15s，匀速，无限循环 */
}

.monitor .marquee-view .marquee:hover {
    animation-play-state: paused;
    /* 鼠标经过暂停动画 */
}