/* 适配 */
@media screen and (max-width: 1024px) {
    html {
        font-size: 42.66px !important;
        /* 1024/24=42.66 */
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 80px !important;
        /* 1920/24=80 */
    }
}

/* 背景图片 */
body {
    background: url(../images/bg.jpg) no-repeat;
    /* 跟随页面大小改变 */
    background-size: cover;
    /* 或者写成： */
    /* background: url(../images/bg.jpg) no-repeat 0 0 / cover; */
}

.viewport {
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    min-height: 780px;
    /* 居中对齐 */
    margin: 0 auto;
    padding: 1.1rem 0.25rem 0;
    background: url(../images/logo.png) no-repeat;
    /* 保证图标在缩放时仍能全部显示 */
    background-size: contain;
}

.viewport .column {
    flex: 3;
}

.viewport .column:nth-child(2) {
    flex: 4;
}